/*Global*/

body {
 font-family: verdana;
 font-weight: normal;
 color: white;
 text-align: center;
 background-color: black;
}

a {
 color: aquamarine;
}

 a:hover{
  color: lightblue;
}

/*Header*/

header h1 {
  font-weight: normal;
  font-size: 50px;
}

/*Main*/

main h1 {
  font-weight: 300;
  font-size: 42px;
}

h2{
  font-size: 21px;
  color: gray;
  font-weight: normal;
}

/*footer*/

footer p {
  text-align: right;
  color: gray;
  font-weight: bold;

}
